/* Header */
.hero {
  background-color: #394046;
  background-image: url("https://pixabay.com/get/g8b5bc20ca14e2329b6c025c29e0190b3d80eb123195df0e70cfbe04f2d7ef0e36d67fce4a9921971a39662af80804317ba19633a74f7dbb2fed20cfec757945e085785a27d3149d4fdc67b404e634808_1920.jpg");
  background-position: center;
  background-size: cover;
  padding-bottom: 10px;
}

header {
  padding: var(--spacing-company) 0;
}

/* header hgroup > :last-child {
  color: var(--h3-color);
}

header hgroup {
  margin-bottom: var(--spacing-company);
} */