/* Header */
.hero {
  background-color: #394046;
  background-image: url("https://source.unsplash.com/DNQ-M93tHmA/3000x1000");
  background-position: center;
  background-size: cover;
  padding-bottom: 10px;
}

header {
  padding: var(--spacing-company) 0;
}

/* header hgroup > :last-child {
  color: var(--h3-color);
}

header hgroup {
  margin-bottom: var(--spacing-company);
} */